.login-form {
  position: relative;

  &__input {
    margin: 0 auto 20px auto;
    border: 1px solid gray;
    display: block;
    width: 250px;
    padding: 5px 10px;
    font-size: 1.7rem;
    @include tablet {
      width: 300px;
    }
    &::placeholder {
      font-size: 1.2rem;
      opacity: 0.6;
      color: $color-side-panel;
      @include tablet {
        font-size: 1.7rem;
      }

    }
  }



  .error {
    border: 1px solid tomato;
  }
  .error-message {
    text-align: center;
    width: 250px;
    margin: 0 auto 10px auto;
    display: block;
    color: tomato;
    font-size: 1.4rem;

  }

  &__label {
    width: 250px ;
    display: block;
    margin: 0 auto;
    font-size: 2rem;
    color: $color-text-row-ext-icons;
    @include tablet {
      width: 300px;
    }

  }

  &__button {

    box-shadow: none;
    border: none;
    font-weight: bold;
    font-size: 1.7rem;
    margin: 0 auto 30px auto;
    display: block;
    width: 150px;
    padding: 5px 0;
    &:hover {
      background-color: lighten($color-button-highlight-headers,5%);
    }
    &:active {
      box-shadow: 1px 1px 1px black inset;
    }
  }
}