html {
  font-size: 10px;
  font-family: $font-text;
}

body {
  font-family: $font-text;
}

.hide {
  display: none;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
