$color-side-panel: #5b605f;
$color-header-column-text: #4a4a49;
$color-button-highlight-headers: #ff6600;
$color-bcg: #fffffa;
$color-msg-info: #3498db;
$color-msg-warning: #ffb03b;
$color-msg-success: #468966;
$color-trash-icon: #bd4932;
$color-text-row-ext-icons: #a1a194;
