.slider {
  background-color: $color-bcg;

  &__arrows {
    display: flex;
    text-align: left;
    font-size: 3rem;
    justify-content: center;
  }

  &__content {
    padding: 20px 20px;
    @include desktop {
      padding: 50px 100px;
    }

    .slider__title {
      text-align: center;
      font-size: 3.2rem;
      color: black;
      margin-bottom: 20px;
    }

    .slider__text {
      font-size: 2rem;
      text-align: center;
      color: black;
      @include desktop {
        font-size: 2.5rem;
      }
    }
  }
}