.list-header {
  margin-top: 10px;
  padding-bottom: 1px;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid $color-text-row-ext-icons;
  @include tablet {
    width: 97%;
    margin: 10px auto 0 auto;
  }

  .list__title {
    text-transform: uppercase;
    align-self: flex-end;
    font-size: 2rem;
    color: $color-button-highlight-headers;
    font-weight: 600;
    @include tablet {
      font-size: 2.3rem;
    }
  }

  .list__button {
    align-self: flex-end;
    display: flex;
    color: $color-msg-success;
    font-size: 3rem;
    border: none;
    background: transparent;
    @include tablet {
      font-size: 3.4rem;
    }
  }
}