.loading-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.circle-container {
  animation-name: spin;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

.circle {
  height: 40px;
  width: 40px;
  border: 2px solid gray;
  border-bottom: 1px solid transparent;
  border-radius: 50%;
}
