.week-number {
  padding-left: 5px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  @include tablet {
    padding-left: 20px;
  }


  .error {
    border: 1px solid tomato;
  }

  .error-message {
    transition: 0.5s;
    padding-left: 10px;
    color: tomato;
    font-weight: bold;
    font-size: 1.2rem;


  }
 &__text {
   width: 40%;
   margin-right: 15px;
   font-size: 1.5rem;
   color: $color-side-panel;
   @include tablet {
     font-weight: 500;
     width: 28%;
     font-size: 1.8rem;
   }
   @include desktop {
     font-size: 2.3rem;
     width: 23.5%;
   }
 }
  &__input {
    border-radius: 3px;
    border: 1px solid $color-text-row-ext-icons;
    text-align: center;
    width: 30px;
    height: 30px;
    font-size: 1.7rem;
    color: $color-text-row-ext-icons;
  }
}