.desktop__schedule__buttons {
  height: 5%;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .desktop__schedule__button {
    color: $color-button-highlight-headers;
    background: transparent;
    border: none;
    font-size: 1.5rem;
    position: relative;
  }
  .left {

    &::before {
      top: 0;
      position: absolute;
      font-size: 1.5rem;
      content: '<<';
      left: -20px;
    }
  }
  .right {

    &::before {
      display: block;
      top: 0;
      position: absolute;
      font-size: 1.5rem;
      content: '>>';
      right: -20px;
    }
  }

}