.recipes__elements-box {
  font-size: 1.5rem;

  overflow: auto;
  padding: 5px 10px 5px 25px;
  list-style: decimal;
  max-height: 39%;
  @include tablet {
    max-height: 65%;
  }

  @media (min-width: 1600px) {
    max-height: 70%;
    font-size: 1.8rem;
    padding: 5px 10px 5px 30px;


  }
}