.shopping-navigation {
  animation-name: smoothShow;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  position: absolute;
  top: 30px;
  left: 30px;
  bottom: 30px;
  border-radius: 4px 1px 1px 4px;
  width: 30%;
  background-color: lighten($color-bcg,1%);
  border: 2px dashed $color-text-row-ext-icons;
  @include tablet {
    position: static;
    display: block;
    animation-name: solo;
  }
  @include desktop {
    width: 25%;
    display: block;
  }
}

@keyframes smoothShow {
 0%{
   width: 10%;
 }
  100% {
    width: 30%;
  }
}